snippet in "body" 
#include <stdio.h>

int main(int argc, char *argv[])
{
	${0} 

	return 0;
}
endsnippet

snippet cm "Comment Section"
/* ${0} */
endsnippet

snippet st "printf"
printf(${0});
endsnippet
