snippet in "body" 
#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[])
{
	${0} 

	return 0;
}
endsnippet

snippet cm "Comment Section"
/* ${0} */
endsnippet

snippet ri "printf"
printf("${0}");
endsnippet

snippet sc "scanf"
scanf("${0}");
endsnippet
