snippet in "cpp body" 
#include <iostream>
using namespace std;

int main(int argc, char *argv[]) {

	${0}

	return 0;
}
endsnippet

snippet is "add string" 
#include <string>
endsnippet

snippet cm "add math" 
#include <cmath>
endsnippet

snippet ci " enter " 
cin >> ${0};
endsnippet

snippet co " push " 
cout << ${0} << endl;
endsnippet
